@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors, Lists, Color
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment
        - Screenreader
--------------------------------------------------------------*/


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */

*, 
*::after, 
*:before {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font: 1rem 'Montserrat', sans-serif;

}


/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

main {
    text-align: center;
}


/* ----- HERO ----- */

img {
    width: 140px;
    margin-top: .6em;
}

header p:first-of-type,
header h1 {
    font: 700 2rem 'Montserrat', sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 2.3em 0 0;
}

.intro-p > p {
    font-size: 1.5rem;
    line-height: 1.4em;
    margin: 5rem 0 0;
}


/* ----- TYPOGRAPHY ----- */

h2 {
    font-weight: 700;
    font-size: 1.1rem;
    margin: 1.3em 0 0;
    text-transform: uppercase;
    color: #BDBCBC;
    letter-spacing: .25em;
}


p {
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
    line-height: 1.7em;
}

i {
    color: #F2F2F1;
    font-size: 1rem;
}

/* ----- ANCHOR ----- */

a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font: 600 .9rem 'Montserrat', sans-serif;
}

header p:last-of-type {
    margin-bottom: 8em;
}

main a, 
header p > a {
    background-color: #4E9374;
    border-radius: 18px;
    padding: 9px 18px;
    margin: 0 0 2em;

}

nav li:last-child a {
    background-color: white;
    color: #4E9374;
    border-radius: 18px;
    padding: 9px 18px;
}

/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.img-responsive {
    max-width: 100%;
}

[class*='col-'] {
    padding: 10px 5px;
}

.col-sm-1 {
    width: calc(100% * 1 / 12);
}

.col-sm-2 {
    width: calc(100% * 2 / 12);
}

.col-sm-3 {
    width: calc(100% * 3 / 12);
}

.col-sm-4 {
    width: calc(100% * 4 / 12);
}

.col-sm-5 {
    width: calc(100% * 5 / 12);
}

.col-sm-6 {
    width: calc(100% * 6 / 12);
}

.col-sm-7 {
    width: calc(100% * 7 / 12);
}

.col-sm-8 {
    width: calc(100% * 8 / 12);
}

.col-sm-9 {
    width: calc(100% * 9 / 12);
}

.col-sm-10 {
    width: calc(100% * 10 / 12);
}

.col-sm-11 {
    width: calc(100% * 11 / 12);
}

.col-sm-12 {
    width: calc(100% * 12 / 12);
}


@media screen and (min-width: 768px) {

    .wrapper {
        width: 80%;
    }

    [class*='col-'] {
        padding: 10px;
    }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }
    
    .col-md-2 {
        width: calc(100% * 2 / 12);
    }
    
    .col-md-3 {
        width: calc(100% * 3 / 12);
    }

    .col-md-4 {
        width: calc(100% * 4 / 12);
    }
    
    .col-md-5 {
        width: calc(100% * 5 / 12);
    }
    
    .col-md-6 {
        width: calc(100% * 6 / 12);
    }
    
    .col-md-7 {
        width: calc(100% * 7 / 12);
    }
    
    .col-md-8 {
        width: calc(100% * 8 / 12);
    }
    
    .col-md-9 {
        width: calc(100% * 9 / 12);
    }
    
    .col-md-10 {
        width: calc(100% * 10 / 12);
    }
    
    .col-md-11 {
        width: calc(100% * 11 / 12);
    }
    
    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
    
}


@media screen and (min-width: 1024px) {

    .wrapper {
        width: 70%;
    }
    
    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }
    
    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }
    
    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }

    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }
    
    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }
    
    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }
    
    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }
    
    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }
    
    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }
    
    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }
    
    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }
    
    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

#hero-about h1,
#hero-take-action h1 {
    margin: 1.8em 0 3em;
}

#hero-about,
#hero-take-action {
    text-align: center;
}

/* ----- NAV ----- */

li {
    display: inline-block;
    margin: 0 10px;
}

ul {
    padding: 1em 0;
    margin: 0;
}


/* ----- HOME ----- */

#hero-home {
    background: url(../img/bg-home.jpg) center no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-backgroun-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 1px 0;
    text-align: center;
}

#hero-home span {
    font: 2rem 'EB Garamond', serif;
    font-style: italic;
    color: white;
    text-transform: lowercase;
} 

#hero-home h1 {
    margin: 0;
}

#home-bg-about div {
    background: url(../img/bg-about.jpg) center no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-backgroun-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 140px 0;
    margin-top: 2em;
}

#home-bg-take-action div {
    background: url(../img/bg-take-action.jpg) center no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-backgroun-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 140px 0;
    margin-top: 3em;
}

header [class*='col-'] {
    padding: 0;
}

/* ----- ABOUT ----- */

#hero-about {
    background: url(../img/bg-about.jpg) center no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-backgroun-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 1px 0;
}

main nav {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
}

main nav a,
main nav li:last-child a {
    background-color: transparent;
    color: #BDBCBC;
}

main nav li:first-child,
main nav li:first-child p {
    color: #1D6D49;
    font-style: italic;
    display: block;
}

main nav li:first-child p {
    font-size: 1rem;
    margin: 0 0 .25em;
}

main nav a,
main nav li:last-child a {
    padding: 0;
    font-size: .8rem;
}


#mission,
#achievements,
#misson h2,
#achievements h2 {
    text-align: left;
}

#mission p,
#achievements p {
    margin-top: .5em;
}

#achievements li {
    font: 1.2rem 'EB Garamond', serif;
    line-height: 1.7em;
    margin: 0;
}

#mission h2,
#achievements h2 {
    margin-top: 4em;
}

#what-we-do p {
    margin-top: 1rem;
}

/* #achievements li:before {
    content: '';
    width: 25px;
    height: 2px;
    display: block;
    position: absolute;
    top: 16px;
}

#achievements li:before {
    background: url(../img/tree.svg) center no-repeat;
    left: -10px;
} */

/* ----- Blockquote ----- */

blockquote {
    margin: 3.5em 0;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
}

blockquote p {
    margin: 1.5em 0 0;
}

blockquote footer {
    background-color: transparent;
    margin: 0;
}

blockquote footer p {
    color: #BDBCBC;
    margin: 1em 0 2.5em;
    font: 600 .9em 'Montserrat', sans-serif;
}


/* ----- TAKE ACTION ----- */

#hero-take-action {
    background: url(../img/bg-take-action.jpg) center no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-backgroun-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 1px 0;
}



/* ----- FOOTER ----- */

footer {
    background-color: #1D6D49;
    text-align: center;
    margin-top: 5em;
}

footer > div {
    background-color: #4E9374;
}

.fa-brands {
    font-size: 1.2rem;
}

address li {
    display: block;
    margin: 1.5em 0;
}

/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- ALIGNMENT ----- */

.col-center {
    justify-content: center;
}

/* ----- SCREENREADER ----- */

.sr-only {
    position: absolute;
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      padding: 0 !important;
      margin: -1px !important;
      overflow: hidden !important;
      clip: rect(0,0,0,0) !important;
      white-space: nowrap !important;
      border: 0 !important;
}